body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eaeaea;
  }
  
  .container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 60vh; /* Set a minimum height */
    width: 75vh; /* Set a minimum height */

    box-sizing: border-box; /* Include padding in the total size */
    overflow: hidden; /* Limit the size of the content */
  }
  
  @media screen and (max-width: 768px) {
    /* Adjust the container size for smaller screens */
    .container {
      min-height: 150px;
      min-width: 150px;

      padding: 10px;
    }
  }
  
  #question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    box-sizing: border-box; /* Include padding in the total size */
    overflow: hidden; /* Limit the size of the content */
  }


  #loading-indicator {
    display: none;
    width: 50px;
    height: 50px;
    margin: 16px auto;
    border: 5px solid #ccc;
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  .question {
    font-weight: bold;
    margin: 16px auto;
    width: auto;

  }
  
  form {
    text-align: left;
    height: 100%;
    padding-top: 16px;
  }
  
  form label,
  form input,
  form select,
  form textarea {
    margin-bottom: 10px;
  }

  #submit-button {
    width: fit-content;
    margin: 0 auto;
  }

  #score-counter {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 75%;
  }
  

  .popup {
    /* Your existing styles for the popup */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: none; /* Hide initially */
    z-index: 9999; /* Set a high z-index value to appear above other elements */
  }
  
  .blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the desired opacity */
    backdrop-filter: blur(5px); /* Apply the blur effect to the background */
    z-index: 9998; /* Set a lower z-index value than the popup */
    display: none; /* Hide initially */
  }
  
  